.home-main-container {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.home-navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  border-bottom: 1px solid #d0d6db;
}
.home-app-title {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}
.home-navigator-button-container {
  display: flex;
  gap: 10px;
}

.home-navigator-button {
  padding: 8px 12px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  color: #8899aa;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.active {
  color: #36414c;
}

.logout-button {
  padding: 8px 12px;
  background-color: #3479eb;
  border: none;
  border-radius: 12px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.exchange-container {
  padding: 40px 80px;
}

.history-container {
  display: flex;
  flex-direction: column;
  padding: 16px 40px;
}

.history-title {
  font-size: 40px;
  font-weight: 700;
  color: #28323c;
  margin: 0;
}

.history-label {
  font-size: 20px;
  font-weight: 400;
  color: #374553;
}

.hidden {
  display: none;
}
